#pictureDesc {
    font-size: 18px;
    text-align: right;
}

#navoptions a {
    color: #fff;
    font-size: 28px;
}

#navoptions a:hover {
    font-weight: bold;
    font-size: 36px;
}

#homedesc {
    margin-top: 150px;
}

.topbar {
    background-image: url("img/sun_fw.jpg");
    background-position: center;
    background-size: cover;
    font-family: "Dancing Script";
    font-size: 36px;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
    color: #fff;
    height: 50px;
}

.home {
    background-color: red;
    padding-top: 80px;
    height: 800px;
    text-align: center;
    font-size: 48px;
    color: blue;
}

.home img {
    max-width: 900px;
}

.about {
    color: red;
    height: 800px;
    padding-top: 100px;
    font-size: 28px;
}

.about h3 {
    font-size: 48px;
    font-weight: bold;
    text-decoration: underline;
}

.about img {
    height: auto;
    margin: auto;
    display: block;
    margin-top: 50px;
}

.positions {
    color: white;
    background-color: blue;
    height: 800px;
    font-size: 28px;
}

.positions h3 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    text-decoration: underline;
    margin-bottom: 50px;
}

.positions img {
    padding-top: 80px;
    width: 110%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    display: block;
}
